@import "./variables";

h2 {
  color: #555;
}

a {
  color: $color-default-link;
  text-decoration: none;
}

// TODO: this needs to be refactored to have a $base-font-size in rem accompanied by a multiplier
// alternatively, we may decide to use Twitter Bootstrap's generic classes

// font-sizes
.text-size {
  &-14 {
    font-size: 14px;
  }
  &-16 {
    font-size: 16px;
  }
  &-18 {
    font-size: 18px;
  }
  &-20 {
    font-size: 20px;
  }
  &-22 {
    font-size: 22px;
  }
  &-24 {
    font-size: 24px;
  }
}
