.el-dropdown-link {
  cursor: pointer;
  color: $color-default-link;
}


.el-main {
  .el-loading-mask {
    margin: -$margin-default;
  }
}

.el-card.flexed .el-card__body {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  vertical-align: baseline;
}