.el-dropdown-link {
  cursor: pointer;
  color: $color-link-default;
}


.el-main {
  .el-loading-mask {
    margin: -$margin-default;
  }
}

.el-card__body .flexed {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  vertical-align: baseline;
}

.el-tabs__content {
  padding: $padding-default !important;
}

.cards-list {
  .el-card, .card {
    margin-bottom: $margin-default;
    overflow: visible;
    font-size: $font-size-card;

    &:last-child {
      margin-bottom: 0;
    }
  }
}