$height-topBar: 60px;
$height-sideNav-logo: $height-topBar;

$color-light-border: #ebeef5;
$color-default-bg: white;
$color-default-link: #409EFF;

$padding-default: 20px;
$margin-default: $padding-default;

$font-size-card: 14px;