$height-topBar: 60px;
$height-sideNav-logo: $height-topBar;

$color-light-border: #ebeef5;
$color-default-bg: white;
$color-default-link: #409EFF;

$margin-default: 20px;

$padding-default: $margin-default;

$width-sideNav: 170px;

$font-size-card: 14px;