$summary-expanded-width: 485px;
$histogram-chart-width: 300px;
$histogram-chart-height: 130px;
$outliers-width: 150px;

.query-card {
  @extend .mb-4;
  @include border-radius(0.25rem);
  @extend .border;
  @extend .border-secondary;

  * { box-sizing: border-box; }

  &:last-child {
    @extend .mb-0;
  }

  &.expanded {
    display: flex;

    .query-summary {
      width: $summary-expanded-width;

      @extend .border-right;
      @extend .border-dark;
    }

    .query-chart-details-wrapper {
      display: block !important;
    }

    .query-chart-details-wrapper, .query-chart, .query-details {
      width: 100% !important;
    }

    .query-details {
      @extend .mt-3;
      padding-left: 0 !important;
    }

    .query-expanded-section {
      width: calc(100% - #{$summary-expanded-width});
    }
  }
}

.query-summary {
  @extend .p-3;
  box-sizing: border-box;

  .query-graql {
    width: 100%;
    @extend .text-size-14;
    @extend .pb-3;
  }

  $query-chart-width: $histogram-chart-width + $outliers-width;

  .query-chart-details-wrapper {
    display: flex;

    .query-chart {
      width: $query-chart-width;
    }

    .query-details {
      width: calc(100% - #{$query-chart-width} - 50px);
      @extend .pl-5;
    }
  }
}

.histogram-chart-wrapper {
  width: 100%;
  display: flex;

  .histogram-chart {
    width: $histogram-chart-width;
    height: $histogram-chart-height;

    @extend .border;
    @extend .border-secondary;
    @extend .rounded-left;

    @extend .p-1;
  }

  .outliers {
    width: $outliers-width;

    @extend .border;
    @extend .border-secondary;
    border-left: none !important;
    @extend .rounded-right;

    p {
      @extend .p-2;
      @extend .text-size-14;
    }

    header {
      @extend .bg-dark;
      p {
        @extend .text-size-13;
        @extend .text-white;
        line-height: 1.2;
      }
    }
  }
}

.query-details {
  p {
    @extend .text-size-16;
    line-height: 2.5;
  }
  .label {
    font-weight: bold;
    @extend .text-secondary;
    @extend .text-size-14;
  }
  .value {
    font-weight: bold;
    @extend .text-size-16;
    @extend .text-dark;

    @extend .ml-2;
  }
}

.query-tooltip {
  text-align: left;
}